* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui;
}
.homescreen-container {
  display: flex;
  flex-direction: column;
}
.nav-branding {
  background: #7063fe;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  color: white;
  font-weight: 800;
  letter-spacing: 3px;
  font-family: monospace;
  font-size: 1.3em;
  text-transform: uppercase;
  cursor: pointer;
}
.intro-container {
  width: 100vw;
}
.applist-container {
  width: 100vw;
}

.illustration {
  background: #7063fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}
.services {
  display: none;
  color: white;
}
.h3 {
  font-size: 2em;
}
h2 {
  font-weight: 500;
}
.grid-container {
  padding-left: 0.3em;
  height: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    ". ."
    ". .";
  margin-top: 0.8em;
}
.each-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.each-service > img {
  padding-bottom: 5px;
}
.gray {
  color: gray;
}
.applist-heading {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-items: center;
}
.settingicon {
  max-height: 1em;
}
.applist {
  background: #f6f6f6;
  height: auto;
  padding: 2em;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}
.app-container {
  display: block;
  margin-left: 0.5em;
  width: 100%;
}
.card-header {
  display: flex;
}
[role="doc-subtitle-grayed"] {
  opacity: 0.7;
  font-size: 80%;
}
[role="doc-subtitle"] {
  font-size: 80%;
}
.right-arrow {
  max-height: 1em;
  cursor: pointer;
}
.stats {
  display: flex;
  margin-top: 1em;
}
.stats > .stat {
  margin-right: 1.5em;
}
@media only screen and (min-width: 992px) {
  .homescreen-container {
    flex-direction: row;
  }
  .intro-container {
    height: 100vh !important;
  }
  .illustration {
    height: 40vh !important;
  }
  .services {
    display: block;
    background: #6155db;
    height: 50vh;
    width: 100%;
    padding: 2em;
  }
  .intro-container {
    width: 50vw;
  }
  .applist-container {
    width: 50vw;
    margin-top: 10vh;
  }
  .applist {
    height: calc(90vh - 7em);
    overflow-y: scroll;
  }
  .card {
    font-size: inherit !important;
  }
}
.card {
  font-size: xx-small;
}

/**
App details page
**/

.appdetails-heading {
  padding: 1.5em;
  display: flex;
  flex-wrap: nowrap;
}

.left-arrow {
  max-height: 1em;
  transform: rotate(180deg);
  align-self: center;
  cursor: pointer;
}
.table {
  padding: 1.5em;
}
